*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 92px;
    margin: 25px 45px 25px 25px;
}

#logo-search-menu{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 162px 1fr 1fr;
    align-items: center;
}

#search-icon{
    float: left;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border: 1px solid #DFE1E5;
    border-left: none;
    height: 44px;
    width: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
}

.la-search{
    transform: scaleX(-1);
    color: blue;
}

#clear-icon{
    float: left;
    border: 1px solid #DFE1E5;
    border-left: none;
    border-right: none;
    height: 44px;
    width: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
    color: #5F6368;
}

#search-input{
    float: left;
    display: inline-flex;
    border-top-left-radius: 22px;
    border-bottom-left-radius:22px;
    border: 1px solid #DFE1E5;
    border-right: none;
    height: 44px;
    width: 594px;
    padding-left: 22px;
    font-size: 1em;
    font-weight: 500;
}

#search-container{
    overflow: hidden;
    width: 682px;
    border-radius: 22px;
    display: inline-block;
}

#search-container:hover{
    box-shadow: 0 0 5px 1px #DFE1E5;
    border: none;
}

#search-container:focus{
    box-shadow: 0 0 5px 1px #DFE1E5;
    border: none;
}

#google-menu{
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

#google-apps{
    padding: 10px;
}

#google-apps:hover{
    border-radius: 50%;
    background-color: #edeef1;
}

.la-bars{
    font-size: larger;
}

#sign-in-button{
    cursor: pointer;
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 0 25px;
    color: white;
    font-size: 0.9em;
    margin-left: 15px;
    margin-right: 30px;
}

#sign-in-button:hover{
    background-color: #297ce9;
    box-shadow: 0 1px 1px #297ce9;
}

#nav-menu{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 965px;
    overflow: visible;
    position: relative;
    left: 170px;
    letter-spacing: 0.05em;
}

#nav-menu a{
    color: #5F6368;
    font-size: 0.8em;
    text-decoration: none;
    padding: 15px 10px;
}

#nav-menu a:visited{
    color: #5F6368;
}

#nav-menu a:active{
    color: blue;
}

#nav-menu #all-results{
    color: blue;
    border-bottom: 3px solid blue;
}

#nav-menu i{
    font-size: larger;
}

#nav-menu .la-search{
    color: #ff5e00;
}

#search-menu{
    display: flex;
}

#settings-menu{
    display: flex;
    position: relative;
    left: 75px;
}

#tools-button{
    padding: 7px 10px !important;
    border: 1px solid transparent;
}

#tools-button:hover{
    background-color: #f6f6f6;
    border: 1px solid #DFE1E5;
    box-shadow: 0 1px 1px #DFE1E5;
}

#tools-button:active{
    box-shadow: inset 0 1px 1px #DFE1E5;
    color: black !important;
}

#nav-separator{
    overflow: hidden;
    border-top: 1px solid #DFE1E5;
    margin-bottom: 10px;
}

#results{
    width: 700px;
    position: relative;
    left: 180px;
}

#number-results{
    color: #70757A;
    font-size: 0.9em;
}

.link-results{
    width: 650px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.link-results a{
    text-decoration: none;
}

.address{
    color: black;
}

.category{
    color: #70757A;
}

br{
    margin-bottom: 5px;
}

.title{
    color: darkblue;
    font-size: 1.4em;
}

.title:visited{
    color: darkblue;
}

.title:hover{
    text-decoration: underline;
}

.description{
    line-height: 1.5em;
    margin-top: 5px;
    color: #5F6368;
    letter-spacing: initial;
    cursor: default;
}

.description em{
    font-style: normal;
}

h3{
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 15px;
    cursor: default;
}

#video-container{
    height: 300px;
    width: 208px;
    display: inline-block;
    border: 1px solid #DFE1E5;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 15px;
}

#video-details{
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
}

#video-title{
    color: darkblue;
    font-size: 1em;
    text-decoration: none;
    width: 80%;
}

#video-title:visited{
    color: darkblue;
}

#video-title:hover{
    text-decoration: underline;
}

#channel{
    font-size: 0.9em;
    color: #70757A;
    cursor: default;
}

#video-info{
    display: flex;
    cursor: default;
}

#website{
    font-size: 0.9em; 
}

#video-info #date{
    font-size: 0.9em;
    color: #70757A;
    padding-left: 0.3em;
}

.ch-first{
    margin-top: 35px;
}

.ch-second{
    margin-top: 15px;
}

#related-searches{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(2, 275px);
}

#related{
    padding-top: 10px;
    font-size: 0.9em;
    color: darkblue;
    text-decoration: none;
}

#related:visited{
    color: darkblue;
}

#related:hover{
    text-decoration: underline;
}

#pages{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 170px;
    font-size: 0.9em;
}

#page-numbers{
    position: relative;
    left: 40px;
    cursor: pointer;
    width: 500px;
}

#first-page{
    display: inline;
    padding-right: 7px;
}

.page{
    padding-right: 7px;
    color: blue;
    text-decoration: none;
}

.page:visited{
    color: blue;
}

.page:hover{
    text-decoration: underline;
}

#next-page{
    position: relative;
    left: 45px;
}

footer{
    background-color: #f2f2f2;
    padding: 11px 30px;
    border-top: 1px solid #e4e4e4;
}

#upper{
    font-size: 0.9em;
    color: #70757A;
}

#upper-content{
    display: inline;
    position: relative;
    left: 150px;
}

#upper p{
    display: inline;
}

#upper strong{
    color: #333333;
}

#upper #vertical-separator{
    color: transparent;
    border-left: 1px solid #DFE1E5;
    font-size: larger;
    margin-left: 10px;
}

#upper .la-circle{
    font-size: 0.8em;
    background-color: #9E9E9E;
    color: #9E9E9E;
    border-radius: 50%;
}

#upper a{
    text-decoration: none;
}

#upper a:visited{
    color: #70757A;
}

#upper a:hover{
    color: #333333;
}

#help-menu{
    font-size: 0.9em;
    list-style-type: none;
    display: inline;
    position: relative;
    left: 150px;
    cursor: pointer;
}

#help-menu li{
    display: inline;
}

#help-menu a{
    text-decoration: none;
    margin-right: 30px;
}

#help-menu a:visited{
    color: #70757A;
}

#help-menu a:hover{
    color: #333333;
}